<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <title>My first Flask Template</title>
</head>
<body>
  <h1>This is my first flask page</h1>
  <p>Well technically this is my 4th draft since i forgot to save the first few.</p>
  <h2>But the practice is nice!</h2>

  <h2 class="hmm">i wonder if i will use flask alot in the future</h2>
  <img src="https://3f8444fa-d118-4ae3-bb74-6f19b8cdef9d-00-2cwtywc9ekxzw.riker.replit.dev/static/banner.jpg" height="320" width="540">
</body>
</html>