<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <title>My first Flask Template</title>
</head>
<body>
  <div class="container">
    <h1>My First Flask Page</h1>
    <p>Well technically this is my 4th draft since i forgot to save the first few.</p>
    <h2>But the practice is nice!</h2>
  
    <h2 class="hmm">i wonder if i will use flask alot in the future</h2>
    <img src="https://i.imgur.com/RluT0RK.jpeg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores nostrum mollitia aliquam ut voluptatibus ad dolor, fugit id maiores officia modi, labore earum saepe numquam iusto praesentium consectetur dignissimos nemo.</p> 
    <p class="TODO">TODO : Mess with Data</p>
    <p class="TODO">TODO : add Bootstrap</p>
  
    <p class="footer">Made by Azaiah 2025</p>

  </div>
</body>
</html>